@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%)

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f7f9 ;


}


.container {
    display: grid;
    grid-template-columns: 300px minmax(350px, 445px);
    max-width: 750px;

}


.img-container {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.drawer-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: all 0.7s ease;

}

.container:hover .drawer-pic  {transform: scale(1.1)}   /*To make it scale up when hovered*/

.content {
    background-color: white;
    padding: 30px;
    border-radius: 0 10px 10px 0;

}

.title {
    font-size: 20px;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
    padding-bottom: 20px;
}

.text {
    color: var(--desaturated-dark-blue);
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 20px;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 20px;

}

.author-deets p:first-child {
    color: var(--very-dark-grayish-blue) ;
    font-weight: 700;
}

.author-deets p:last-child {
    color: var(--desaturated-dark-blue);
}



/* SHAREEEEEEE */

.share {
    position: relative;
}

.btn {
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    transition: all 0.25 ease;
    cursor: pointer;


}


.share-options {
    background-color: var(--very-dark-grayish-blue);
    position: absolute;
    bottom: calc(100% + 20px);
    right: -80px;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 10px;
    border-radius: 10px;
    transform-origin: bottom;
    border: none;
    outline: none;
    visibility: hidden;
    transition: all 0.25s ease;
}


.share-options.clicked {
    --scale: 1;
    visibility: visible;

}

.share-options p {
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}


.share-options::after {
    content: "";
    background-color: var(--very-dark-grayish-blue);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 102%;
    left: 55%;
    transform: translate(-50%, -60%) rotate(45deg);


}

.share-options a {
    cursor: pointer;
}

.share-options a:hover {
    animation: rotate 0.7s ease-in-out both;
    


}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0,0,0);
    }
    25% {
        transform: rotate(6deg) translate3d(0,0,0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0,0,0);
    }
    75% {
        transform: rotate(1deg) translate3d(0,0,0);
    }
    100% {
        transform: rotate(0deg) translate3d(0,0,0);
    }

}




 .attribution { 
    font-size: 11px; 
    text-align: center; 
}
 .attribution a { 
    color: hsl(228, 45%, 44%); 
}




@media screen and (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;
        max-width: 360px;
        overflow: hidden;

    }

    .img-container {
        border-radius: 10px 10px 0 0;

    }

    .content {
        border-radius: 0 0 10px 10px;
        margin-top: -5px;
    }

    .title {
        font-size: 17px;
    }

    .text {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 30px;
        letter-spacing: 0.6px;
        
       
    }

    .footer {
        position: relative;
    }

    .share {
        position: static;
        z-index: 1;  
        
    }

    .share-options {
        inset: -30px -28px;  /*Short hand for top left bottom right */
        border-radius: 0 0 10px 10px;
        z-index: -1; 
    }

    .drawer-pic {
        height: 200px;
    }

    .btn {
        background-color: var(--light-grayish-blue);
        
    }
    
}